body {
    font-family: Arial;
    background-color: rgb(192, 243, 229);
}

header, main {
    background-color: white;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

header {
    border-top: 10px solid black;
    margin-top: 5%;
    border-radius: 10px 10px 0 0;
}

main {
    border-bottom: 10px solid black;
    border-radius: 0 0 10px 10px;
}


#menu {
    padding: 0px;
}

#menu li, #videoLenke {
    display: inline;
    border: 2px solid rgb(192, 243, 229);
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(214, 244, 236);
}

#menu li a, #videoLenke {
    text-decoration: none;
    color: rgb(56, 56, 56);
}


#kontaktInfo {
    position: relative;
    left: 200px;
    bottom: 200px;
}

#utdanning {
    position: relative;
    bottom: 80px;
}


#portrett {
    position: relative;
    height: 200px;
    width: 155px;
    border-radius: 5px;
}

.gameImage {
    position: relative;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    border-radius: 5px;
}

footer {
    text-align: center;
}



